---
import { getCollection } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';
import BlogPostTeaser from '@components/BlogPostTeaser.astro';

const allPosts = await getCollection('posts');
const pageTitle = 'Blog';
---

<BaseLayout pageTitle={pageTitle}>
  <div class="row">
    {
      allPosts
        .sort((a, b) => {
          // Sort blog posts in descending order
          return a.data.pubDate > b.data.pubDate ? -1 : 1;
        })
        .map((post) => {
          return <BlogPostTeaser post={post} />;
        })
    }
  </div>
</BaseLayout>

<!-- CSS -->

<style>
  .row {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
</style>
