---
import { getCollection } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';
import BlogPostTeaser from '@components/BlogPostTeaser.astro';

const allPosts = await getCollection('posts');
const pageTitle = 'Blog';
---

<BaseLayout pageTitle={pageTitle}>
  <p>Musings and ponderings by yours truly.</p>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPostTeaser url={`/posts/${post.slug}/`} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>
