---
import { getCollection } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';
import BlogPostTeaser from '@components/BlogPostTeaser.astro';

const allPosts = await getCollection('posts');
const pageTitle = 'Blog';
---

<BaseLayout pageTitle={pageTitle}>
  <div class='row'>
    <div class='left-col'>
      {allPosts.map((post) => <BlogPostTeaser post={post} />)}
    </div>

    <div class='right-col'></div>
  </div>
</BaseLayout>

<!-- CSS -->

<style>
  .row {
    display: flex;
  }

  .left-col {
    flex: 2;
  }

  .right-col {
    flex: 1;
  }
</style>
