---
import BaseLayout from '@layouts/BaseLayout.astro';
import BlogPostTeaser from '@components/BlogPostTeaser.astro';

const allPosts = await Astro.glob('@pages/blog/*.md');
const pageTitle = 'Blog';
---

<BaseLayout pageTitle={pageTitle}>
  <p>Musings and ponderings by yours truly.</p>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPostTeaser url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
