---
import { type CollectionEntry } from 'astro:content';
import { formatDate } from '@utils/dates';

type Props = {
  post: CollectionEntry<'posts'>;
};

const { post } = Astro.props;
---

<article class='post-teaser'>
  <a class='post-teaser-link' href={`/blog/${post.slug}/`}>
    <h2 class='post-teaser-title'>{post.data.title}</h2>
    <p class='post-teaser-date'><time>{formatDate(post.data.pubDate)}</time></p>
    <p class='post-teaser-description'>{post.data.description}</p>
  </a>
</article>

<!-- CSS -->

<style>
  .post-teaser-link {
    display: flex;
    flex-direction: column;
    margin-inline: -15px;
    padding: 15px;
    text-decoration: none;
    color: var(--clr-gray-900);
    border-radius: 12px;
    border: solid 1px transparent;
    transition:
      background-color 250ms,
      border-color 250ms;

    &:hover {
      background-color: var(--clr-gray-200);
      border-color: var(--clr-gray-300);
    }
  }

  .post-teaser-title {
    margin-block: 0 0.675rem;
    font-size: 1.875rem;
  }

  .post-teaser-date {
    order: -1;
    margin-block: 0 0.125rem;
    font-size: 1rem;
    color: var(--clr-blue-900);
  }

  .post-teaser-description {
    margin: 0;
    gap: 30px;
    line-height: 1.25;
  }
</style>
