---
import Social from './Social.astro';

const currentYear = new Date().getFullYear();
---

<style>
  footer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 20px;
    margin-top: 40px;
    padding-block: 10px;
    border-top: solid 1px #ddd;
    text-align: center;
  }
  .social-links {
    display: flex;
  }
</style>

<footer>
  <span>Copyright © {currentYear} Mikaël Sévigny</span>
  <div class='social-links'>
    <Social platform='github' username='sevignator' />
  </div>
</footer>
