---

---

<style>
  footer {
    margin-top: 40px;
    border-top: solid 1px #ddd;
    text-align: center;
  }
</style>

<footer>
  <p>
    Learn more about my projects on <a href='https://www.github.com/sevignator'
      >GitHub</a
    >!
  </p>
</footer>
