---
import Navigation from '@components/Navigation.astro';
import SiteLogo from '@components/SiteLogo.astro';
import ThemeIcon from '@components/ThemeIcon.astro';
---

<header class="navbar">
  <nav class='container'>
    <div class="navbar-left">
      <a class='logo-link' href='/'>
        <SiteLogo colorPrimary='blue' width='60' />
      </a>
    </div>

    <div class="navbar-right">
      <ThemeIcon />
      <Navigation />
    </div>
  </nav>
</header>

<!-- CSS -->

<style>
  .navbar {
    height: fit-content;

    & .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-block: 30px;
    }
  }

  .navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .logo-link {
    line-height: 0;
  }
</style>
