---
import Navigation from './Navigation.astro';
import SiteLogo from './SiteLogo.astro';
---

<header>
  <nav class='container'>
    <a class='logo-link' href='/'>
      <SiteLogo colorPrimary='blue' width='60' />
    </a>

    <Navigation />
  </nav>
</header>

<!-- CSS -->

<style>
  header {
    height: fit-content;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 30px;
  }

  .logo-link {
    line-height: 0;
  }
</style>
