---

---

<style>
  menu {
    display: flex;
    gap: 15px;
    padding: 0;
    list-style: none;
  }

  .nav-link {
    font-size: 1.25rem;
  }
</style>

<menu>
  <li class='nav-link'><a href='/blog/'>Blog</a></li>
  <li class='nav-link'><a href='/about/'>About</a></li>
</menu>
