---
import { type CollectionEntry } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';
import Tag from '@components/Tag.astro';
import { formatDate } from '@utils/dates';

type Props = {
  frontmatter: CollectionEntry<'posts'>['data'];
};

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>Published on: {formatDate(frontmatter.pubDate)}</p>
  <slot />
  <div class="tags">
    {frontmatter.tags.map((tag) => <Tag label={tag} />)}
  </div>
</BaseLayout>

<!-- CSS -->

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
  }
</style>
